* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

/* Navigatie */
nav {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    height: 50px;
    padding-right: 2rem;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #002fa7;
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.7;
}

h2 {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: #002fa7;
    font-weight: bolder;
    padding: 1rem 0 1rem 2rem;
    margin: 0;
}

header {
    margin-bottom: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
}

section:not(:first-child) {
    padding-bottom: 2rem;
}

.image-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 47, 167, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

h3 {
    color: white;
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
}

@media screen and (max-width: 800px) {

    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0;
        margin: 1rem 0;
    }

    section {
        flex-direction: column;
    }
}