* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: #002fa7;
    font-weight: bolder;
}

h3 {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: #002fa7;
    font-weight: bolder;
}

h4 {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: #002fa7;
    font-weight: bolder;
}

p {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: black;
    max-width: 650px;
}

main {
    padding: 1rem 2rem 2rem;
}

h2, h3, h4 {
    padding-top: 1rem;
}

table {
    width: 100%;
    max-width: 650px;
    border-collapse: collapse;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: black;
    font-family: Banana Grotesk, HelveticaNeue, sans-serif;

    table-layout: fixed;
}

table td {
    border: 1px solid black;
    padding: 12px 16px;
    vertical-align: top;
    width: 50%;
}

table b {
    display: inline-block;
    margin-right: 6px;
    color: black;
}

