* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: end;
    height: 50px;
    padding-right: 2rem;
    align-items: center;

    /*background-color: lightgray;*/
}

nav a {
    text-decoration: none;   /* geen onderlijning */
    color: #002fa7;
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.7;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1; /* zorgt dat main de resterende ruimte inneemt */
    margin: 0;

    /*background-color: lightskyblue;*/
}

main a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

main a:hover span {
    color: black;
}

main span {
    padding-left: 2rem;
    font-size: 110px;
    line-height: 1;
    font-weight: bold;
    font-family: Bricolage Grotesque, sans-serif;
    color: #002fa7;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem 2rem;
    gap: 1rem;

    /*background-color: lemonchiffon;*/
}

footer h5 {
    color: #002fa7;
    font-family: Bricolage Grotesque, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

footer p {
    color: #002fa7;
    font-family: HelveticaNeue, sans-serif;
    margin-bottom: 0.5rem;
}

body {
    min-height: 100vh; /* (minstens) 100% van de hoogte van het scherm (viewpart)*/
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

div a {
    text-decoration: none;
    color: #002fa7;
}

footer div {
    min-width: 206px;
}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
    }
    footer div {
    padding-bottom: 1rem;
}
}

@media screen and (max-width: 550px) {
    main {
        flex: 0;
    }

    main span {
        font-size: 70px;
    }
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        gap: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}