* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    min-height: 100vh;

    display: flex;              /* Nodig voor flex: 1 (bij main)! */
    flex-direction: column;     /* nav boven, main eronder */
}

/* Navigatie (menu) */
nav {
    display: flex;
    gap: 2rem;
    justify-content: end;
    height: 50px;
    padding-right: 2rem;
    align-items: center;
}

nav a {
    text-decoration: none;   /* geen onderlijning */
    color: #002fa7;
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.7;
}

main {
    flex: 1; /* Vul alles onder de nav */

    display: flex;
    justify-content: center; /* horizontaal */
    align-items: center;     /* verticaal */
}

.profile {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

p:last-child {
    margin-bottom: 0;
}

p {
    font-family: HelveticaNeue, sans-serif;
    color: #002fa7;
}

.profile {
    width: 450px;
    height: 450px;
    position: relative;
}

.profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* Hover: afbeelding verschijnt */
.profile:hover img {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        gap: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {

    main {
        align-items: flex-start; /* niet meer verticaal centreren */
        padding-top: 2rem;
    }

    .profile {
        width: 100%;
        height: auto;          /* hoogte niet forceren */
        position: static;

        display: flex;
        flex-direction: column;
    }

    .profile img {
        position: static;      /* niet meer absoluut */
        opacity: 1;            /* altijd zichtbaar */
        width: 100%;
        height: auto;
        margin-top: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;

        padding-bottom: 2rem;
    }

    .profile:hover img {
        opacity: 1;            /* hover volledig geneutraliseerd */
    }

    .text p {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .text p:not(:first-child) {
        padding-bottom: 2rem;
    }
}

