* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navigatie (menu) */
nav {
    display: flex;
    gap: 2rem;
    justify-content: start;
    height: 50px;
    padding-left: 2rem;
    align-items: center;

    /*background-color: yellow;*/
}

nav a {
    text-decoration: none;   /* geen onderlijning */
    color: #002fa7;
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.7;
}

body {
    background-color: #f5f5f5;
}

/**/

:root {
    --step-time: 0.4s;
}

.odometer {
    display: flex;
    justify-content: center;
    font-size: 8rem;
    font-weight: 800;
    color: #f5f5f5;

    font-family: Banana Grotesk, HelveticaNeue, sans-serif;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    margin: 0;

    font-family: Banana Grotesk, HelveticaNeue, sans-serif;
}

.card {
    background-color: #002fa7;
    border-radius: 1rem;
    padding: 2rem;

    width: fit-content;
    margin: 1rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;      /* horizontaal centreren */
    justify-content: center;  /* verticaal centreren */
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Centreren */
html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    display: grid;
    place-items: center;
}


/* Animatie */
.digit {
    overflow: hidden;
    height: 1em;
    width: 0.8em;
}

.digit span {
    display: block;
    line-height: 1em;
}

/* duizendtallen → blijft 0 */
.d1 span {
    transform: translateY(0);
}

/* eenheden → 0 → 1 */
.d4 span {
    animation: roll-units calc(1 * var(--step-time)) steps(1) forwards;
    animation-delay: 0.2s;
}

/* tientallen → 0 → 4 */
.d3 span {
    animation: roll-tens calc(4 * var(--step-time)) steps(4) forwards;
    animation-delay: 0.6s;
}

/* honderdtallen → 0 → 1 */
.d2 span {
    animation: roll-hundreds calc(1 * var(--step-time)) steps(1) forwards;
    animation-delay: 2.4s;
}

/* keyframes */
@keyframes roll-units {
    to { transform: translateY(-1em); }
}

@keyframes roll-tens {
    to { transform: translateY(-4em); }
}

@keyframes roll-hundreds {
    to { transform: translateY(-1em); }
}

.label {
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
    margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
    .card {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
