* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

/* Navigatie (menu) */
nav {
    display: flex;
    gap: 2rem;
    justify-content: end;
    height: 50px;
    padding-right: 2rem;
    align-items: center;
}

nav a {
    text-decoration: none;   /* geen onderlijning */
    color: #002fa7;
    font-weight: bold;
    font-size: 1.15rem;
}

nav a:hover {
    opacity: 0.7;
}

h2 {
    font-family: Bricolage Grotesque, HelveticaNeue, sans-serif;
    color: #002fa7;
    font-weight: bolder;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0; /* op h1, h2 etc elementen wordt automatich een margin erop gezet, zelft wanneer je een wildcardselector gebruikt*/
}

img {
    width: 100%;
    padding: 1rem 2rem 2rem;
}

p {
    padding-left: 2rem;
    padding-right: 2rem;

    font-family: Banana Grotesk, HelveticaNeue, sans-serif;
    color: black;

    max-width: 700px;
}

p:last-child {
    padding-bottom: 1rem;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;

        gap: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
